body{
    background-color: white!important;
    overflow-x: hidden;
}

.header, .section , .footer{
    max-width: 1440px;
    margin: 0 auto;
}
.max-h-600{
    height: 340px;
}

/* responsive images */

@media screen and (max-width: 480px) {
    .h-550{
         height: 360px!important;
    }
    .btnslide{
        left: 8.5rem!important;
    }
  }
  @media screen and (max-width: 390px) {
    .h-550{
         height: 360px!important;
    }
    .btnslide{
        left: 7.5rem!important;
    }
  }

  @media screen and (max-width: 360px) {
    .h-550{
         height: 340px!important;
    }
    .btnslide{
        left: 6.5rem!important;
    }

  }